<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Footcer - Chính sách bảo mật</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicons -->
    <link href="https://vnchat-server.000webhostapp.com/Footcer/img/favicon.png" rel="icon"/>
    <link href="https://vnchat-server.000webhostapp.com/Footcer/img/favicon.png" rel="apple-touch-icon"/>

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link href="https://vnchat-server.000webhostapp.com/Footcer/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Libraries CSS Files -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://vnchat-server.000webhostapp.com/Footcer/lib/animate/animate.min.css" rel="stylesheet"/>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <link href="https://vnchat-server.000webhostapp.com/Footcer/lib/owlcarousel/assets/owl.carousel.min.css"
          rel="stylesheet"/>
    <link href="https://vnchat-server.000webhostapp.com/Footcer/lib/lightbox/css/lightbox.min.css" rel="stylesheet"/>

    <!-- Main Stylesheet File -->
    <link href="https://vnchat-server.000webhostapp.com/Footcer/css/style.css" rel="stylesheet"/>

    <!-- =======================================================
    Theme Name: Footcer Team
  ======================================================= -->
</head>
<body>
<header id="header" class="fixed-top">
    <div class="container">
        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
            <a href="#intro" class="scrollto"
            ><img src="https://vnchat-server.000webhostapp.com/Footcer/img/logo.png" alt="" class="img-fluid"
                /></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Trang chủ</a></li>
                <li><a href="/">Thông tin</a></li>
                <li><a href="/">Sản phẩm</a></li>
                <li><a href="/">Tại sao chọn Footcer?</a></li>
                <li><a href="/">Đánh giá</a></li>
                <li><a href="/">Đội ngũ</a></li>
                <li><a href="/">Liên hệ</a></li>
            </ul>
        </nav>
        <!-- .main-nav -->
    </div>
</header>
<main style="padding-top: 100px;">
    <div class="container mt-3 mb-5">
        <h3 style="text-align: center">Privacy Policy</h3>
        <p>Footcer really respects your personal information. We know that you want to confirm how we manage personal information gathered from Footcer. Please read and learn about the following privacy practices. Your access, registration, and use of Footcer means that you agree to and accept the terms of our privacy policy.</p>

        <h5>Information collection</h5>
        <p>Personal information: Footcer only requires your personal information such as: name, email, phone number and some other optional information when you want to interact with some content on the application. This one is used for Footcer and the property rental property owner to identify and contact you as needed.</p>
        <h5>The way using information</h5>
        <p>We generally use the information you provide to contact you, respond to questions or fulfill your requests. Your personal information will not be shared with any Third-Party Transaction without your consent. We just share that personal information unless you agree.
            The security of collected informtion
            Ensure safety for the information collected
            We only use your personal information to the extent that is appropriate and necessary for our proper service purposes. We will maintain appropriate measures to ensure the safety, integrity, accuracy, and confidentiality of the information. In addition, we also take suitable methods to ensure that the Third-Party Transaction also take security solutions for the information we provide to them, if any.</p>
        <h5>Modify and delete account information</h5>
        <p>You can modify, update your account information at any time. Even if you delete such information yourself, we may recover such information from our database to resolve disputes, enforce the user agreement, or make inquiries, technical and legal requirements related to the safety and operation of our website.</p>

        <h5>Terms of change</h5>
        <p>We reserve the right to change the content of these terms. Please check back regularly for the changed terms in our privacy policy. Moreover, we will notify you by email of any significant change to the usage of your personal information. In the case that you refuse the modified Footcer terms, please contact us at footcer.dev@gmail.com. By continuing to use this app, you agree and accept to be bound by the changes to this online privacy policy.</p>
    </div>

</main>
 <main style="padding-top: 100px;">
    <div class="container mt-3 mb-5">
        <h3 style="text-align: center">Chính sách bảo mật</h3>
        <p>Footcer tôn trọng những thông tin cá nhân của bạn. Chúng tôi hiểu rằng bạn cần biết chúng tôi quản lý những thông tin cá nhân tập hợp được từ Footcer như thế nào. Hãy đọc và tìm hiểu về những quy định bảo mật thông tin sau đây.
            Việc bạn truy cập, đăng ký, sử dụng Footcer có nghĩa rằng bạn đồng ý và chấp nhận ràng buộc bởi các điều khoản của bản quy định bảo mật của chúng tôi.</p>
        <h5>Tập hợp thông tin</h5>
        <p>Thông tin cá nhân: Footcer chỉ yêu cầu các thông tin cá nhân của bạn như: tên, email, số điện thoại và một số thông tin không bắt buộc khác khi bạn muốn tương tác với một số nội dung trên ứng dụng. Các thông tin cá nhân này sử dụng để Footcer và chủ địa điểm cho thuê sân bãi nhận diện và liên hệ với bạn khi cần.</p>
        <h5>Cách thức sử dụng thông tin</h5>
        <p>Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu hỏi hay thực hiện các yêu cầu của bạn.
            Thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ bên thứ ba nào khi chưa có sự đồng ý của bạn. Nhưng chúng tôi có thể chia sẻ thông tin cho bên đối tác khi bạn đồng ý.
        <h5>Bảo đảm an toàn đối với các thông tin thu thập được</h5>
        <p>Chúng tôi chỉ tập hợp lại các thông tin cá nhân trong phạm vi phù hợp và cần thiết cho mục đích phục vụ đúng đắn của chúng tôi. Và chúng tôi duy trì các biện pháp thích hợp nhằm bảo đảm tính an toàn, nguyên vẹn, độ chính xác, và tính bảo mật những thông tin mà bạn đã cung cấp. Ngoài ra, chúng tôi cũng có những biện pháp thích hợp để đảm bảo rằng bên thứ ba cũng sử dụng các biện pháp bảo đảm an toàn cho các thông tin mà chúng tôi cung cấp cho họ nếu có.</p>
        <h5>Sửa đổi và xoá thông tin tài khoản</h5>
        <p>Bạn có thể sửa đổi, cập nhật thông tin tài khoản của bạn bất cứ lúc nào. Cho dù, bạn tự xoá các thông tin đó đi nhưng chúng tôi có thể phục hồi những thông tin đó từ cơ sở dữ liệu của chúng tôi để giải quyết các tranh chấp, thi hành  bản thoả thuận người sử dụng, hay vì các yêu cầu kỹ thuật, pháp lý  liên quan đến sự an toàn và những hoạt động của trang website chúng tôi.</p>
        <h5>Điều khoản thay đổi</h5>
        <p>Chúng tôi có quyền thay đổi nội dung của các điều khoản này. Xin thường xuyên xác nhận để biết về các điều khoản thay đổi trong bản quy định bảo mật của chúng tôi. Thêm vào đó chúng tôi sẽ thông báo cho bạn bằng email khi có những thay đổi quan trọng về cách sử dụng liên quan các thông tin cá nhân của bạn. Trong trường hợp bạn từ chối các điều khoản thay đổi có trong Footcer, xin liên hệ chúng tôi theo địa chỉ email footcer.dev@gmail.com. Khi bạn tiếp tục sử dụng ứng dụng này, có nghĩa là bạn đồng ý và chấp nhận bị ràng buộc với các thay đổi trong bản quy định bảo mật trực tuyến này.</p>
    </div>

</main>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Footcer</h3>
                    <p>
                        Football And Soccer
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liên kết</h4>
                    <ul>
                        <li class="active"><a href="#intro">Trang chủ</a></li>
                        <li><a href="#about">Thông tin</a></li>
                        <li><a href="#services">Sản phẩm</a></li>
                        <li><a href="#why-us">Tại sao chọn Footcer?</a></li>
                        <li><a href="#testimonials">Đánh giá</a></li>
                        <li><a href="#team">Đội ngũ</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Liên hệ</h4>
                    <p>
                        Công viên phần mềm Quang Trung,<br/>
                        Phường Tân Chánh Hiệp, Quận 12,<br/>
                        Thành phố Hồ Chí Minh <br/>
                        <strong>Số điện thoại:</strong> +84 999 888 777<br/>
                        <strong>Email:</strong> footcer.dev@gmail.com<br/>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"
                        ><i class="fa fa-instagram"></i
                            ></a>
                        <a href="#" class="google-plus"
                        ><i class="fa fa-google-plus"></i
                            ></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Theo dõi</h4>
                    <p>
                        Gửi email của bạn để được nhận những cập nhật mới nhất từ chúng tôi
                    </p>
                    <form action="" method="post">
                        <input type="email" name="email"/><input
                                type="submit"
                                value="Theo dõi"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Footcer</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
          -->
            Designed by
            <a href="http://www.footcer.tk">Footcer Team Never Die <3</a>
        </div>
    </div>
</footer>
</body>
</html>